*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  letter-spacing: 1px;
  background-color: #f8f8f8;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1420px;
  margin: 0 auto;
}

.inner-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
  -o-object-position: top/center;
     object-position: top/center;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  text-align: center;
  margin: 5rem auto;
  width: 115ch;
}

.header h1 {
  font-size: 3.5rem;
  font-weight: 200;
  font-family: "Parisienne", cursive;
}

.header p {
  font-size: 2rem;
  line-height: 1.8;
  font-family: "Josefin Slab", serif;
  margin-top: 1rem;
}

.header .line {
  width: 40rem;
  margin: 3rem auto;
  opacity: 0.5;
}

#header {
  padding: 1rem 0;
}

#header .main-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .main-nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .main-nav .nav-links li {
  padding-left: 3.5rem;
}

#header .main-nav .nav-links li a {
  font-size: 1.87rem;
  color: #ff00b8;
  font-family: "Oleo Script Swash Caps", cursive;
}

.logo {
  font-family: "Pattaya", sans-serif;
  font-size: 4rem;
  color: #ff00b8;
}

.logo .logo-outline {
  color: transparent;
  -webkit-text-stroke: 1px #ff00b8;
}

.showcase-slider {
  position: relative;
  overflow: hidden;
  height: 75vh;
  width: 100%;
}

.showcase-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.showcase-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ff00b8;
  opacity: 0.23;
}

.showcase-slide .showcase-content {
  position: absolute;
  z-index: 20;
  bottom: 130px;
  left: -600px;
  width: 600px;
  border: solid #ff00b8 1px;
  background-color: rgba(255, 255, 255, 0.781);
  padding: 35px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  opacity: 0;
}

.showcase-slide .showcase-content h1 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-family: "Pattaya", sans-serif;
  color: #6e6262;
}

.showcase-slide .showcase-content p {
  font-size: 2rem;
  line-height: 1.7;
  font-family: "Josefin Slab", serif;
}

.showcase-buttons {
  position: absolute;
  bottom: 16%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.showcase-buttons button {
  border: 1.5px solid #ff00b8;
  background-color: rgba(255, 255, 255, 0.699);
  color: #ff00b8;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 3px;
  outline: none;
  text-align: center;
  cursor: pointer;
}

.showcase-buttons button:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.showcase-slide:first-child {
  background: url("/img/show1.jpg") no-repeat center center/cover;
}

.showcase-slide:nth-child(2) {
  background: url("/img/show2.jpg") no-repeat center top/cover;
}

.showcase-slide:nth-child(3) {
  background: url("/img/show3.jpg") no-repeat center center/cover;
}

.showcase-slide:nth-child(4) {
  background: url("/img/show4.jpg") no-repeat center center/cover;
}

.showcase-slide.current {
  opacity: 1;
}

.showcase-slide.current .showcase-content {
  opacity: 1;
  -webkit-transform: translateX(600px);
          transform: translateX(600px);
  -webkit-transition: all 0.7s ease-in-out 0.3s;
  transition: all 0.7s ease-in-out 0.3s;
}

#news {
  margin-bottom: 8rem;
}

#news .news-card-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 8rem;
  width: 100%;
}

#news .news-card-wrap .news-card-image {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#news .news-card-wrap .news-card-image img {
  width: 100%;
  height: 45vh;
  -o-object-position: top/center;
     object-position: top/center;
  -o-object-fit: cover;
     object-fit: cover;
}

#news .news-card-wrap .news-card-image .date {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #ff00b8;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 800;
  width: 50px;
  height: 50px;
  padding: 7px;
  border-radius: 50%;
  text-align: center;
}

#news .news-card-wrap .news-card-image .label {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #ff00b8;
  color: #ffffff;
  font-size: 2rem;
  text-align: center;
  padding: 10px 20px;
  font-weight: 800;
}

#news .news-card-wrap .news-card-body {
  text-align: start;
  padding: 3rem 4rem;
  background-color: white;
  font-family: "Josefin Slab", serif;
}

#news .news-card-wrap .news-card-body .news-title {
  font-size: 3rem;
  font-family: "Pattaya", sans-serif;
  color: #494949e7;
  margin-bottom: 2rem;
}

#news .news-card-wrap .news-card-body .news-subtitle {
  font-size: 1.8rem;
  color: #ff00b8;
  margin-bottom: 1.5rem;
  font-weight: 800;
}

#news .news-card-wrap .news-card-body .news-para {
  font-size: 2rem;
  letter-spacing: 1.2px;
  line-height: 1.7;
  margin-bottom: 1.8rem;
}

#news .news-card-wrap .news-card-body .news-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
}

#news .news-card-wrap .news-card-body .news-links a p {
  color: rgba(17, 17, 17, 0.548);
}

#news .news-card-wrap .news-card-body:hover .news-para.hov {
  display: block;
}

#services {
  margin: 10rem auto;
}

.services {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}

.services .service-box {
  position: relative;
  width: 100%;
  height: 40vh;
  border-radius: 7px;
}

.services .service-box img {
  height: 40vh;
  border-radius: 5px;
}

.services .service-box .service-label {
  position: absolute;
  bottom: 15px;
  left: 50%;
  color: #ffffff;
  background-color: #ff00b7c0;
  font-size: 2.5rem;
  font-weight: 800;
  font-family: "Parisienne", cursive;
  text-align: center;
  width: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 0.8rem 2rem;
}

#works {
  margin-bottom: 10rem;
}

#works .recent-work {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

#works .recent-work .work-img,
#works .recent-work .work-img img {
  width: 100%;
  height: 25vh;
  border-radius: 6px;
  cursor: pointer;
}

#works .recent-work .work-img img {
  border: solid 1px #ff00b8;
}

.book {
  width: 100%;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff00b7a2), to(#e70dff6c));
  background: linear-gradient(to bottom, #ff00b7a2, #e70dff6c);
  height: 48vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Pattaya", sans-serif;
}

.book .btn-booking {
  color: #ffffff;
  font-size: 3rem;
  border: solid 2px #ffffff;
  padding: 1rem 4rem;
  border-radius: 45px;
  margin-bottom: 2.5rem;
}

.book .btn-booking:hover {
  -webkit-transform: scale(1.045);
          transform: scale(1.045);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.book p {
  font-size: 2.5rem;
}

#about {
  margin-bottom: 2rem;
}

#about .about {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem;
}

#about .about .about-info {
  margin-right: 3rem;
}

#about .about .about-info h1 {
  font-family: "Parisienne", cursive;
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
}

#about .about .about-info h1 span {
  border-bottom: solid 1px #494949e7;
}

#about .about .about-info p {
  font-size: 2rem;
  font-family: "Josefin Slab", serif;
  width: 45ch;
  line-height: 1.7;
  margin-bottom: 1.8rem;
}

#about .about .about-info .about-btn {
  color: #ff00b8;
  font-size: 1.7rem;
  font-weight: 600;
}

#about .about .about-img {
  margin-left: 4rem;
  width: 100%;
}

#about .about .about-img img {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

footer {
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(255, 0, 183, 0.575);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .logo {
  color: #ffffff;
  font-size: 3.5rem;
}

footer .logo .logo-outline {
  -webkit-text-stroke: 1px #ffffff;
}

footer .copy {
  margin-top: 0.8rem;
  font-size: 1rem;
  color: #ffffff;
  font-size: 1.6rem;
  font-family: "Pattaya", sans-serif;
}
/*# sourceMappingURL=style.css.map */