$salmon: #ffdcf5;
$pink: #ff00b8;
$grey: #494949e7;
$rice: #ffffff;
$ff-wash: 'Oleo Script Swash Caps', cursive;
$ff-paris: 'Parisienne', cursive;
$ff-pat: 'Pattaya', sans-serif;
$ff-pop: 'Poppins', sans-serif;
$ff-jo: 'Josefin Slab', serif;

.header {
	text-align: center;
	margin: 5rem auto;
	width: 115ch;
	h1 {
		font-size: 3.5rem;
		font-weight: 200;
		font-family: $ff-paris;
	}
	p {
		font-size: 2rem;
		line-height: 1.8;
		font-family: $ff-jo;
		margin-top: 1rem;
	}
	.line {
		width: 40rem;
		margin: 3rem auto;
		opacity: 0.5;
	}
}
